

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allora</title>
    <link rel="stylesheet" href="~/css/mainpage.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="page-wrapper">

       

        <!-- HERO -->
        <section class="hero">
            <h1>
                Buy – quickly, with high quality, what you need,<br>
                in just a few clicks
            </h1>
        </section>


        <!-- CATEGORIES -->
        <section class="categories">
            <div>Lifestyle</div>
            <div>Technology</div>
            <div>Home</div>
            <div>Auto</div>
            <div>Health</div>
        </section>


        <!-- POPULAR -->
        <section class="popular">
            <h2>Popular now</h2>

            <div class="products-grid">
                <div class="product-card"></div>
                <div class="product-card"></div>
                <div class="product-card"></div>
                <div class="product-card"></div>
                <div class="product-card"></div>
            </div>
        </section>

        <!-- POPULAR -->
        <section class="popular">
            <h2>Shop Collection</h2>

            <div class="products-grid">
                <div class="product-card"></div>
                <div class="product-card"></div>
                <div class="product-card"></div>
                <div class="product-card"></div>
                <div class="product-card"></div>
            </div>
        </section>

    </div>

</body>
</html>
