<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Api_Amazon</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/Web_Api_Amazon.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web_Api_Amazon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <footer class="site-footer">
        <div class="container">
            <div class="row gy-4">
                <div class="col-6 col-lg-2">
                    <h5 class="site-footer__title">About Allora</h5>
                    <ul class="site-footer__list">
                        <li><a href="#">About Allora</a></li>
                        <li><a href="#">Our Approach</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Press &amp; Updates</a></li>
                        <li><a href="#">Accessibility Commitment</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2">
                    <h5 class="site-footer__title">For Business</h5>
                    <ul class="site-footer__list">
                        <li><a href="#">Sell with Allora</a></li>
                        <li><a href="#">Business Accounts</a></li>
                        <li><a href="#">Product Management</a></li>
                        <li><a href="#">Analytics &amp; Insights</a></li>
                        <li><a href="#">Advertising Tools</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2">
                    <h5 class="site-footer__title">Payments &amp; Orders</h5>
                    <ul class="site-footer__list">
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Invoices &amp; Billing</a></li>
                        <li><a href="#">Order Tracking</a></li>
                        <li><a href="#">Returns &amp; Refunds</a></li>
                        <li><a href="#">Delivery Information</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2">
                    <h5 class="site-footer__title">Help &amp; Support</h5>
                    <ul class="site-footer__list">
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Account &amp; Security</a></li>
                        <li><a href="#">Privacy &amp; Data</a></li>
                        <li><a href="#">Contact Support</a></li>
                        <li><a href="#">Report an Issue</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2">
                    <h5 class="site-footer__title">Legal</h5>
                    <ul class="site-footer__list">
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Preferences</a></li>
                        <li><a href="#">Accessibility Statement</a></li>
                    </ul>
                </div>
            </div>
                <div class="site-footer__copy">&copy; 2026 Allora. All rights reserved</div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
